<div class="background" (click)="modalService.hide(modalService.createModalKey)"></div>
<div class="blur" (click)="modalService.hide(modalService.createModalKey)"></div>
<div class="modal">
  <h2 class="modal__title">{{title}}</h2>
  <form class="modal__form" [formGroup]="form" (ngSubmit)="addTask()">
    <app-form-input [label]="'Enter task name'"
                    [name]="'board-name'"
                    [type]="'text'"
                    [placeholder]="'Name'"
                    [control]="name"
                    [controlName]="'name'"
                    [error$]="error$"
                    [withError]="true"
    ></app-form-input>
    <app-form-input [label]="'Enter description name'"
                    [name]="'description'"
                    [type]="'text'"
                    [placeholder]="'Description'"
                    [control]="description"
                    [controlName]="'description'"
    ></app-form-input>
    <div class="modal__form-file">
      <div class="modal__form-btn">
        <label for="image">Upload image</label>
        <input formControlName="image" type="file" name="image" id="image" accept="image/png, image/jpg, image/jpeg, image/gif"
               (change)="selectFile($event)">
        <app-btn type="reject" class="reject" [title]="'Remove'" *ngIf="url" (click)="url = ''; fileSource.reset()"></app-btn>
      </div>
      <p *ngIf="msg">{{msg}}</p>
      <img [src]="url" alt="task-image" *ngIf="url">
    </div>
    <app-form-button [disabled]="form.invalid" [text]="title"></app-form-button>
  </form>
</div>
