@import "src/assets/styles/variable";
@import "src/app/shared/component/modals/modal";

app-spinner {
  margin: 0 auto;
}

.modal {
  &__title {
    color: $text-color;
    margin: 0 auto 10px auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-file {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }

    &-btn {
      display: flex;
      gap: 5px;
    }

    &-file label {
      font-weight: 400;
      line-height: 24px;
      border: none;
      width: 40%;
      font-family: $font-family;
      height: 40px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .2s;
      color: $text-color;
      border-radius: 10px;
      background-color: $blue;
    }

    &-file label:hover {
      background-color: $dark-blue;
      cursor: pointer;
      color: lighten(#E7E7E7, 50%);
    }

    &-file img {
      height: 180px;
      width: 70%;
      border: 1px solid $main-purple-color;
      border-radius: 5px;
      margin: 0 auto;
      object-fit: cover;
    }

    &-file p {
      margin: 0;
      font-size: 12px;
      color: #e71313;
    }

    input[type="file"] {
      display: none;
    }
  }
}

app-btn {
  width: 25%;
}
