<div class="background"></div>
<div class="blur" (click)="modalService.hide(modalService.infoModalKey)"></div>
<div class="modal">
  <button tabindex="0" class="modal__exit" (click)="modalService.hide(modalService.infoModalKey)"
          ngInit (onInit)="el.focus()" #el>&#10005;</button>
  <div class="modal__img-box" *ngIf="task.image">
    <img [hidden]="isImageLoaded" (load)="onLoad()" class="modal__img" [src]="api + task.image" alt="task-image">
    <app-spinner className="large" *ngIf="isImageLoaded && task.image"></app-spinner>
    <div class="modal__img-hover" *ngIf="!isImageLoaded && task.image">
      <button class="modal__img-delete" (click)="deleteTaskImg()">&#10005;</button>
      <label (keydown.enter)="image.click()" tabindex="0" class="material-icons image-label" for="image" #image>&#xe251;</label>
      <input type="file" name="image" id="image" accept="image/png, image/jpg, image/jpeg, image/gif"
             (change)="uploadImage($event)">
    </div>
  </div>
  <div class="modal__title-box">
    <input class="modal__title-input" type="text" *ngIf="isEditing" [value]="taskName"
           (focusout)="changeName(name.value)"
           (onInit)="name.focus()"
           (keydown)="$event.key === 'Enter' ? changeName(name.value) : ''" ngInit #name/>
    <h2 tabindex="0" (focusin)="clickOnTitle()" class="modal__title"
        *ngIf="!isEditing" (click)="clickOnTitle()">{{taskName}}
      <span *ngIf="task.isArchived">(Archived)</span></h2>
    <div class="modal__title-box-items">
      <app-spinner className="very-small" *ngIf="isArchiving$ | async"></app-spinner>
      <button (click)="archiveTask()" *ngIf="!(isArchiving$ | async) && !task.isArchived"
           class="modal__title-box-archive material-icons" title="Archive task">&#xe149;
      </button>
      <button (click)="archiveTask()" *ngIf="!(isArchiving$  | async) && task.isArchived"
           class="modal__title-box-archive material-icons" title="Unarchive task">&#xe169;
      </button>
      <button class="modal__title-box-edit material-icons" title="Edit task" (click)="toggleEdit()">edit</button>
      <app-spinner className="very-small" *ngIf="isDeleting$ | async"></app-spinner>
      <button *ngIf="!(isDeleting$ | async)" class="modal__title-box-delete material-icons" title="Delete task"
           (click)="deleteTask()">
        delete
      </button>
    </div>
  </div>
  <div class="modal__info">
    <div class="modal__info-item">
      <p class="modal__info-item-name">Status:</p>
      <p class="modal__info-item-value">{{task.status}}</p>
    </div>
    <div class="modal__info-item">
      <p class="modal__info-item-name">Created:</p>
      <p class="modal__info-item-value">{{task.createdAt | date: 'medium'}}</p>
    </div>
  </div>
  <div class="modal__description">
    <h3 class="modal__description-title">Description</h3>
    <p class="modal__description-text" *ngIf="task.description">{{task.description}}</p>
  </div>
  <div class="modal__activity">
    <h3 class="modal__activity-title">Activity</h3>
    <div class="modal__activity-add">
      <img [src]="api + (user$ | async)!.avatar" alt="user-avatar" class="modal__activity-add-user">
      <form [formGroup]="form" (ngSubmit)="addComment()">
        <app-form-input
          [name]="'comment'"
          [type]="'text'"
          [placeholder]="'Enter comment...'"
          [controlName]="'comment'"
          [control]="comment"
          newHeight="45px"
        ></app-form-input>
        <button type="submit" class="material-icons">send</button>
      </form>
    </div>
    <div class="modal__activity-comments">
      <app-spinner className="small" *ngIf="isCommentLoading$ | async"></app-spinner>
      <app-task-comment *ngFor="let comment of reverseComments()" [comment]="comment"
                        [user]="(user$ | async)!"
                        (delete)="deleteComment($event)"
                        (edit)="editComment($event)"></app-task-comment>
    </div>
  </div>
</div>
