$main-purple-color: #6356E5;
$black-color: #141517;
$dark-color: #1E1F24;
$darker-colo: #19191f;
$text-color: #E7E7E7;
$container-width: 1280px;
$font-family: 'Poppins', sans-serif;
$dark-purple: #464B9C;
$blue: #1572ae;
$dark-blue: #0f527d;
$error-text-color: #e71313;

$board-width: 280px;
$board-height: 169px;
