<div class="task"
     [id] = 'task._id'
     (click)="onClick()"
     (dragstart)="dragStart($event)"
     (dragend)="dragEnd($event)"
     draggable="true">
  <img class="task__img" [src]="api + task.image" alt="task-img" *ngIf="task.image" draggable="false">
  <div class="task__info">
    <h3 class="task__name">{{task.name}}</h3>
    <app-menu (delete)="deleteTask()"
              (click)="$event.stopPropagation()"
              (edit)="onEdit()"
              (archive)="archiveTask()"
              [isArchived]="task.isArchived"></app-menu>
  </div>
</div>
