<div class="background" (click)="modalService.hide(modalService.createModalKey)"></div>
<div class="blur" (click)="modalService.hide(modalService.createModalKey)"></div>
<div class="modal">
  <h2 class="modal__title">{{title}}</h2>
  <button tabindex="0" class="modal__exit" (click)="modalService.hide(modalService.createModalKey)"
          ngInit (onInit)="el.focus()" #el>&#10005;</button>
  <form class="modal__form" [formGroup]="form" (ngSubmit)="addBoard()" >
    <app-form-input [label]="'Enter board name'"
                    [name]="'board-name'"
                    [type]="'text'"
                    [placeholder]="'Name'"
                    [control]="name"
                    [controlName]="'name'"
                    [error$]="error$"
                    [withError]="true"
                    [isAutofocus]="true"
    ></app-form-input>
    <app-form-input [label]="'Enter description name'"
                    [name]="'description'"
                    [type]="'text'"
                    [placeholder]="'Description'"
                    [control]="description"
                    [controlName]="'description'"
    ></app-form-input>
    <div class="modal__form-color">
      <label for="color">Choose the color of board</label>
      <input formControlName="color" type="color" name="color" id="color" list="boardColors">
      <datalist id="boardColors">
        <option value="#6356E5">#6356E5</option>
        <option value="#fe7f2e">#fe7f2e</option>
        <option value="#1da7ff">#1da7ff</option>
        <option value="#0ace82">#0ace82</option>
        <option value="#ed8d9b">#ed8d9b</option>
      </datalist>
    </div>
    <app-form-button [disabled]="form.invalid" [text]="(isLoading$ | async) ? 'Creating...' : title"></app-form-button>
  </form>
</div>
