@import "src/assets/styles/variable";

.create-board {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $board-width;
  height: $board-height;
  background: $main-purple-color;
  border-radius: 10px;
  transition: .2s;

  &__add {
    box-sizing: border-box;
    border: 1.2px solid $text-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
  }

  &__add::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    margin-left: -10px;
    margin-top: 0;
    border-top: 1px solid $text-color;
  }

  &__add::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 20px;
    margin-left: 0;
    margin-top: -10px;
    border-left: 1px solid $text-color;
  }
}

.create-board:hover, .create-board:focus {
  cursor: pointer;
  transform: scale(1.07);
}
