<div class="change-main" (click)="isEditing = !isEditing" tabindex="0" (keydown.enter)="el.click()" #el>
  <p class="change-main-title">Change password</p>
  <span class="change-main-arrow" [ngClass]="isEditing ? 'close' : 'open'">&#8249;</span>
</div>
<div class="change-password" *ngIf="isEditing">
  <form class="change-password__form" [formGroup]="form" (ngSubmit)="changePassword()">
    <app-form-input
                    [name]="'oldPassword'"
                    [type]="'password'"
                    [placeholder]="'Old password'"
                    [control]="oldPassword"
                    [controlName]="'oldPassword'"
                    newHeight="40px"
    ></app-form-input>
    <app-form-input
                    [name]="'newPassword'"
                    [type]="'password'"
                    [placeholder]="'New password'"
                    [control]="newPassword"
                    [controlName]="'newPassword'"
                    [error$]="error$"
                    [withError]="true"
                    newHeight="40px"
    ></app-form-input>
    <app-form-button [newHeight]="'40px'" [disabled]="form.invalid"
                     [text]="(isLoading$ | async) ? 'Loading...' : 'Change password'"></app-form-button>
    <p class="change-password__form-success">{{success$ | async}}</p>
  </form>
</div>
