@import "src/assets/styles/variable";

.change-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  box-sizing: border-box;

  &-title {
    margin: 0;
    font-size: 15px;
  }

  &-arrow {
    transform: rotate(90deg);
    font-size: 25px;
  }
}

.change-main:hover {
  cursor: pointer;
}

.change-password {
  margin: 10px 0 0 0;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-error {
      font-weight: 400;
      font-size: 10px;
      color: $error-text-color;
      margin: 0;
    }

    &-success {
      margin: 5px 0 0 0;
      font-size: 14px;
      color: #0ACE82;
    }
  }
}

.open {
  transform: rotate(-90deg);
}

.close {
  transform: rotate(90deg);
}
